	#firechat-wrapper {
		height: 100%;
		display: inline-block;
		background-color: #fff;
		text-align: center;
		-webkit-border-radius: 4px;
		width: 100%;
	}
	#firechat-wrapper {
		padding: 0px;
	}
	#firechat-wrapper 
	#firechat-header {
		display: none;
	}
	#firechat .chat {
		background: url(../images/bg_chat.png) no-repeat center center fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
		height: 100%;
		border-top: 1px;
		border: 0px !important;
		border-bottom: 1px solid #ddd;
		overflow-y: scroll;
		top: 51px;
		height: initial;
		bottom: 0;
		position: absolute;
		left: 0;
		right: 0;
		margin-bottom: 50px;
	}
	.OT_edge-bar-item.OT_mute {
		display: none;
	}
	#firechat .message {
		padding: 10px 5px;
	}
	#firechat .message_textbox {
		margin-bottom: 3px;
	}
	#firechat .message .user-chat, #firechat .message .user-mute {
		display: none;
	}
	#firechat-tab-list, .tab-pane-menu {
		display: none;
	}
	img.img_message {
		width: 50%;
	}
	#chatmodal {
		background-color: #FFF;
		box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
		position: relative;
	}
	#chatmodal .modal-close-btn {
		text-align: left;
		padding: 10px;
		border-bottom: 1px solid #ddd;
	}
	#chatmodal .modal-close-btn i { color: #9e9e9e; }
	.loading img {
		border-radius: 100%;
		/*border: 5px solid #3c9b00;*/
		margin: 0 auto;
		width: 40%;
		margin-top: 70px;
	}
	#firechat-tab-content .tab-pane > div.clearfix:last-child {
		position: fixed;
		color: #000;
		width: 100%;
		bottom: 0px;
	}
	#firechat input.text_input { 
		height: 35px;
		padding-left: 10px;
		margin-bottom: 5px;
		border-radius: 4px;
		width: 70%;
		margin-left: -22px;
	}
	.send_message_btn {
		position: absolute;
		right: 2%;
		height: 35px;
		color: #fff;
		padding: 0px 16px;
		font-size: 14px;
		border-radius: 4px;
		background-color: #6b9551;
		border: 1px solid #317e4a;
	}
	#chatmodal .uploadImg {
		position: absolute;
		bottom: 8px;
		display: none;
		z-index: 99;
		left: 5px;
		color: #cccccc;
	}
	#firechat .message.message-default{
		font-size: 16px;
		background-color: #f2f2f2;
		float: left;
		margin-top: 10px;
		border-radius: 4px;
		border-bottom: 0; 
	}
	#firechat .message.message-default span{
		color: #a5a5a5;
	}
	#firechat .message.message-default.message-self{
		float: right;
		background-color: #679559;
		color:white;
		margin-top: 10px;
		border-radius: 4px;
		border-bottom: 0; 
		text-align: right;
	}
	#firechat .message.message-default.message-self span{
		color: white;
	}
	#firechat .message.message-image{
		background-color: #f2f2f2;
		float: left;
		margin-top: 10px;
		border-radius: 4px;
		border-bottom: 0; 
	} 
	#firechat .message.message-image span{
		color: #a5a5a5;
	}
	#firechat .message.message-image.message-self{
		background-color: #679559;
		color: white;
		float: right;
		margin-top: 10px;
		border-radius: 4px;
		border-bottom: 0; 
	}
	#firechat .message.message-image.message-self{
		color: white;
	}
	#firechat div, #firechat span, #firechat applet, #firechat object, #firechat iframe, #firechat h1, #firechat h2, #firechat h3, #firechat h4, #firechat h5, #firechat h6, #firechat p, #firechat blockquote, #firechat pre, #firechat a, #firechat abbr, #firechat acronym, #firechat address, #firechat big, #firechat cite, #firechat code, #firechat del, #firechat dfn, #firechat em, #firechat img, #firechat ins, #firechat kbd, #firechat q, #firechat s, #firechat samp, #firechat small, #firechat strike, #firechat strong, #firechat sub, #firechat sup, #firechat tt, #firechat var, #firechat b, #firechat u, #firechat i, #firechat center, #firechat dl, #firechat dt, #firechat dd, #firechat ol, #firechat ul, #firechat li, #firechat fieldset, #firechat form, #firechat label, #firechat legend, #firechat table, #firechat caption, #firechat tbody, #firechat tfoot, #firechat thead, #firechat tr, #firechat th, #firechat td, #firechat article, #firechat aside, #firechat canvas, #firechat details, #firechat embed, #firechat figure, #firechat figcaption, #firechat footer, #firechat header, #firechat hgroup, #firechat menu, #firechat nav, #firechat output, #firechat ruby, #firechat section, #firechat summary, #firechat time, #firechat mark, #firechat audio, #firechat video {
    	border: 0;
    	font-size: 18px;
    	font-family: thaisanslite_regular;
    	vertical-align: baseline;
    	margin: 0;
    	padding: 0;
	} 
	#firechat .message-content{
		padding-right: 0;
	}
	#chatmodal .scrollTobottom {
		position: fixed;
		display: none;
  		transition: opacity 0.2s ease-out;
		text-align: center;
		width: 30px;
		height: 20px;
		color: #444;
		right: 10px;
		bottom: 50px;
		cursor: pointer;
    	border: 0;
   	 	border-radius: 2px;
		z-index: 9999;
	}
