
#restartbtn {
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 20px;
}
.table {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
}

.cell {
  display: table-cell;
  vertical-align: middle;
  position: relative;
  width: 100%;
  text-align: center;
}


#numbers {
  max-width: 300px;
  padding: 0 20px;
  margin: 0 auto;
  position: relative;
  display: block;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  transition: all 1s ease-out;
  opacity: 1;
}

#numbers.hide {
  opacity: 0.3;
}

#pincode button {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  background-color: #fdfdfd;
  border: 0;
  font-size: 25px;
  line-height: 50px;
  border-radius: 100%;
  opacity: 1;
  outline: 0;
  border: 2px solid #ebf1ef;
}

#pincode button:active {
  background-color: #e9c99a;
  outline: 0;
}
#pincode div.face {
  margin-bottom: 10px;
  background-color: #fdfdfd;
  border: 0;
  font-size: 25px;
  line-height: 66px;
  border: none;
  opacity: 1;
  outline: 0;
}

#pincode div.face:active {
  background-color: transparent;
  outline: 0;
}
#pincode div.delete_pin {
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
  background-color: #fdfdfd;
  border: 0;
  font-size: 25px;
  line-height: 60px;
  border-radius: 100%;
  opacity: 1;
  outline: 0;
  border: 2px solid #ebf1ef;
}

#pincode div.delete_pin:active {
  background-color: transparent;
  outline: 0;
}

#fields {
  /*  max-width: 200px;*/
  /*  padding: 0 20px;*/
  margin: 30px auto;
  position: relative;
  display: block;
}

#fields .numberfield {
  text-align: center;
  margin: 0px 0px;
}

#fields .numberfield span {
  width: 35px;
  border: 1px solid #ececec;
  background-color: transparent;
  position: relative;
  display: inline-block;
  text-align: center;
}

#fields .numberfield.active span {
  background-color: #e9ca9a;
  height: 14px;
  width: 14px;
  border-radius: 100%;
  position: relative;
  display: inline-block;
  text-align: center;
  margin: 0px 10px;
}

#fields .numberfield.right span {
  background-color: #272a2f;
  border-color: #272a2f;
  transition: all .5s ease-in-out;
  -webkit-transition: all .5s ease-in-out;
}

#anleitung p {
  font-size: 1.3em;
  color: #6a6a6a;
}
.remind_text {
 font-size: 1.2em;
 color: #969696;
 line-height: 20px;
 margin-bottom: 30px;
}


/*------
# Toast Grid
----*/

.grid {
  list-style: none;
  /*  margin-left: -20px;*/
}

.grid__col--1-of-3,
.grid__col--2-of-6,
.grid__col--4-of-12 {
  width: 33.33333%;
}

.grid__col--1-of-4,
.grid__col--2-of-8,
.grid__col--3-of-12 {
  width: 25%;
}

.grid__col {
  box-sizing: border-box;
  display: inline-block;
  margin-right: -.25em;
  min-height: 1px;
  /*  padding-left: 11px;*/
  vertical-align: top;
}

.grid__col--centered {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.grid__col--d-first {
  float: left;
}

.grid__col--d-last {
  float: right;
}

.grid--no-gutter {
  margin-left: 0;
  width: 100%;
}

.grid--no-gutter .grid__col {
  padding-left: 0;
}

.grid--no-gutter .grid__col--span-all {
  margin-left: 0;
  width: 100%;
}

.grid__col--ab {
  vertical-align: bottom;
}

.grid__col--am {
  vertical-align: middle;
}

.miss {
  -webkit-animation: miss .8s ease-out 1;
  animation: miss .8s ease-out 1;
}

@-webkit-keyframes miss {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
  }
  20% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
  }
  30% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  40% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  70% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  80% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes miss {
  0% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  10% {
    -webkit-transform: translate(-25px, 0);
    transform: translate(-25px, 0);
  }
  20% {
    -webkit-transform: translate(25px, 0);
    transform: translate(25px, 0);
  }
  30% {
    -webkit-transform: translate(-20px, 0);
    transform: translate(-20px, 0);
  }
  40% {
    -webkit-transform: translate(20px, 0);
    transform: translate(20px, 0);
  }
  50% {
    -webkit-transform: translate(-10px, 0);
    transform: translate(-10px, 0);
  }
  60% {
    -webkit-transform: translate(10px, 0);
    transform: translate(10px, 0);
  }
  70% {
    -webkit-transform: translate(-5px, 0);
    transform: translate(-5px, 0);
  }
  80% {
    -webkit-transform: translate(5px, 0);
    transform: translate(5px, 0);
  }
  100% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

#hastylink {
  position: fixed;
  bottom:5px;
  left: 0;
  right: 0;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}