body, html {
    background-color: gray;
    height: 100%;
}
#videos {
    /*position: relative;*/
    width: 100%;
    /*height: 100%;*/
    /*float: left;*/
}
#subscriber {
    position: absolute;
    /*left: 0;*/
    /*top: 0;*/
    width: 100%;
    height: 100%;
    /*margin-left: 50px;*/
    z-index: 10;
}
#publisher {
    position: absolute;
    width: 50%;
    height: 240px;
    bottom: 80px;
    left: 10px;
    z-index: 100;
    border: 3px solid white;
    border-radius: 3px;
}
#textchat {
    position: relative;
    width: 20%;
    float: right;
    right: 0;
    height: 100%;
    background-color: #e0e1e2;
}
#history {
 width: 100%;
 height: calc(100% - 40px);
 overflow: auto;
 margin-top: 0px;
}
input#msgTxt {
    height: 40px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
#history .mine {
    text-align: left;
    color: #fff;
    height: 50px;
    background-color: #a086c0;
    padding: 15px 10px;
    margin: 0px 10px 0px 0px;
    border-top: 2px solid #fff;
}

#history .mine:before {
    content: '';
    position: absolute;
    right: -7px;
    width: 0;
    margin-top: 20px;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #9f85c5;
    transform: rotate(270deg);
}

#history .theirs {
    color: #000;
    background-color: #fff;
    margin: 0px 0px 0px 10px;
    height: 50px;
    padding: 15px 10px;
    font-size: 16px;
}

#history .theirs:before {
    content: '';
    position: absolute;
    left: -7px;
    margin-top: 20px;
    width: 0;
    height: 0;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-top: 12px solid #fff;
    transform: rotate(90deg);
}

.chat_panel {
    padding: 6px 0px 0px 0px;
    display: inline-flex;
    background-color: #ffffffb5;
    margin: 0px 10px;
    color: #fff;
    border-top-left-radius: 5px;
    position: absolute;
    border-top-right-radius: 5px;
    bottom: 0px;
    z-index: 9999;
}
.chat_panel img {
    width: 50%;
}
.chat_panel a {
    display: inherit;
}
.chat_panel-text { color: #000; }
