
@font-face {
	font-family: 'thaisanslite_regular';
	src: url('fonts/thaisanslite_regular.eot');
	src: local('☺'), url('fonts/thaisanslite_regular.woff') format('woff'), url('fonts/thaisanslite_regular.ttf') format('truetype'), url('fonts/thaisanslite_regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

*{ font-family:'thaisanslite_regular';}

.nopadding {
	padding: 0px;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}  
body{
	margin: 0;
	font-size: 16px;
	background-color: #fff;
	color: #333333;
	line-height: 1.5384616;
	display: block;
	border-radius: 0;
}

.dropbtn{
	width: 100px;
 }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 80px;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}