/*modal*/
.modal {background: #1b1d1de0;}
.modal-dialog {
	position:absolute;
	top: 50%;
	transform: translate(0, -50%) !important;
	-ms-transform: translate(0, -50%) !important;
	-webkit-transform: translate(0, -50%) !important;
	margin:auto 5%;
	width:90%;
	height:98%;
}
.modal-content {
	min-height:100%;
	position:absolute;
	top:0;
	bottom:0;
	left:0%;
	right:0; 
	max-width: 100%;
	border-radius: 15px;
	margin: auto;
	background-color: transparent;
	border: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.modal-body {
	position:absolute;
	top:77px; /** height of header **/
	bottom: 70px;  /** height of footer **/
	padding: 10px;
	left:0;
	right:0;
	overflow-y:auto;
	text-align: left;
	background: #fff;
	border-radius: 15px;
}
.modal-footer {
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	border: none;
	text-align: center;
	background-color: transparent;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
}
.modal.fade.in {
	display: block;
}
.modal-title {

	text-align: right;
}
.detail_conditions_popup {

	font-size: 1.3em;
	color: #6a6a6a;
}

.btn_cancel {
	color: #000;
	margin-right: 5px;
	padding: 8px 10px;
	width: 120px;
	font-size: 1.3em;
	border-radius: 60px;
	background: rgba(224,187,132,1);
	border: none;
	border-bottom: 2px solid #a2a2a2;
	background: rgba(224,224,224,1);
	background: -moz-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,224,224,1)), color-stop(51%, rgba(237,237,237,1)), color-stop(100%, rgba(224,224,224,1)));
	background: -webkit-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	background: -o-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	background: linear-gradient(to right, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0', GradientType=1 );
}
.btn_accept {
	color: #000;
	margin-left: 5px;
	padding: 8px 10px;
	width: 120px;
	font-size: 1.3em;
	border-radius: 60px;
	background: rgba(224,187,132,1);
	border: none;
	border-bottom: 2px solid #a78657;
	background: -moz-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,187,132,1)), color-stop(0%, rgba(193,158,103,1)), color-stop(51%, rgba(233,212,179,1)), color-stop(100%, rgba(224,187,132,1)));
	background: -webkit-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -o-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: linear-gradient(to right, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0bb84', endColorstr='#e0bb84', GradientType=1 );
}
.img_close {
	width: 26px;
	margin-top: 40px;

}
.logo_conditions {
	text-align: center;
	margin-bottom: 10px;
}
.logo_conditions img{
	width: 40%;
}
.head_conditions {
	color: #cbbda9; 
	font-size: 1.18em;
	text-align: center;
	margin: 10px 0px;
}
@media (max-width:1024px) and (min-width:768px) {
	.logo_conditions img {
		width: 26%;
	}
}





