
@font-face {
	font-family: 'thaisanslite_regular';
	src: url('fonts/thaisanslite_regular.eot');
	src: local('☺'), url('fonts/thaisanslite_regular.woff') format('woff'), url('fonts/thaisanslite_regular.ttf') format('truetype'), url('fonts/thaisanslite_regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


*{ font-family:'thaisanslite_regular';}

.nopadding {
	padding: 0px;
}
.container-fluid {
	max-width: 768px;
}
a:focus, a:hover {
	text-decoration: none;
}
/*login page*/
.bg_partner {
	background: url(../images/bg_linev3.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_waiting {
	background: url(../images/bg_call.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_callnurse {
	background: url(../images/call_nurse.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_calldoctor {
	background: url(../images/call_doctor.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_success {
	background: url(../images/bg_success.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_payment {
	background: url(../images/bg_payment.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_register {
	background: url(../images/bg_register.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_scg {
	background: url(../images/bg_scg.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_muangthai {
	background: url(../images/bg_muangthai.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.bg_ais {
	background: url(../images/bg_ais.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100%;
}
.head_conditions_login{
	text-align: center;
	line-height: 20px;
	color: #000;
	font-size: 20px;
	font-weight: bold;
}
.head_conditions_login_2{
	line-height: 24px;
	color: #333;
	font-size: 1.0em;
}
.num_conditions{
	font-weight: bold;
	font-size: 20px;
	line-height: 22px;
}
.logo_samitivej img {
	width: 55%;
}

.content_page {
	margin: 5% 0px 0px;
}
.block_partner img{
	width: 95px;
}
.block_partner {
	padding: 10px 0px;
	margin : 15px 0px 10px 0px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2);
	border-radius: 4px;
}
img.img_info {
	width: 100%;
	margin: 100% 0px 0px 10px;
}
.btn_login {
	color: #000;
	padding: 10px 10px;
	width: 84%;
	font-size: 1.3em;
	margin-top: 40%;
	border-radius: 60px;
	background: rgba(224,187,132,1);
	border-bottom: 2px solid #a78657;
	background: -moz-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,187,132,1)), color-stop(0%, rgba(193,158,103,1)), color-stop(51%, rgba(233,212,179,1)), color-stop(100%, rgba(224,187,132,1)));
	background: -webkit-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -o-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: linear-gradient(to right, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0bb84', endColorstr='#e0bb84', GradientType=1 );
}
.btn_login:active{
	border-radius: 60px;
	background: rgba(224,187,132,1);
	border-bottom: 2px solid #a78657;
	background: -moz-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,187,132,1)), color-stop(0%, rgba(193,158,103,1)), color-stop(51%, rgba(233,212,179,1)), color-stop(100%, rgba(224,187,132,1)));
	background: -webkit-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -o-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: linear-gradient(to right, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0bb84', endColorstr='#e0bb84', GradientType=1 );
}
.conditions {
	color: #c9c9c9;
	text-decoration: underline;
	margin: 10px 0px;
}
.conditions:focus, .conditions:hover {
	color: #c9c9c9;
	text-decoration: underline;
	margin: 10px 0px;
}
.footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: #cecece;
	text-align: center;
}
/*create_pass page*/
.content_createpass {
	margin-top: 40px;
}

/*login_pincode page*/
.logo_pincode img {
	width: 15%;
	margin: 0px 0px 15px;
}
.forgotpass {
	font-size: 1.3em;
	color: #969696;
	line-height: 20px;
	margin: 20px 0px 10px;
}
/*waiting*/
.head_waiting {
	color: #cbbda9;
	font-size: 1.4em;
	text-align: center;
	margin: 30px 0px 0px;
}
.img_nurse {
	width: 100%;
	/*	border: 10px solid #f6faf9;*/
	border-radius: 100%;
}
.name_waiting {
	color: #006441;
	font-size: 1.4em;
	text-align: center;
	/*margin: 25px 0px 0px;*/
}
.position {
	font-size: 1.3em;
	color: #6a6a6a;
	text-align: center;
}
.btn_cancel_waiting {
	outline: none;
	color: #969696;
	margin : 30px 0px;
	padding: 5px 10px;
	width: 120px;
	border: none;
	font-size: 1.2em;
	border-radius: 60px;
	border-bottom: 2px solid #d8d8d8;
	background: rgba(224,224,224,1);
	background: -moz-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,224,224,1)), color-stop(51%, rgba(237,237,237,1)), color-stop(100%, rgba(224,224,224,1)));
	background: -webkit-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	background: -o-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	background: linear-gradient(to right, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0', GradientType=1 );
}
.note_waiting p{
	color: #969696;
	font-size: 1.1em;
	margin: 0px;
	line-height: 20px;
}
.text_welcome{
	margin-top: 15px;
	font-size:  1.3em;
	color: #6a6a6a;
	line-height: 20px;
}
.img_wait_loading{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	opacity: .60;
}
.img_wait_loading {
	position: absolute;
	width: 55%;
	top: -13px;
	left: 180px;
	opacity: .60;
}
/*success page */ 
.text_thx_success {
	font-size: 1.4em;
	line-height: 20px;
	color: #494949;
}
.logo_samitivej_success img {
	width: 28%;
	margin-bottom: 4%;
}
.btn_success {
	position: fixed;
	left: 5%;
	bottom: 0;
	width: 90%;
	text-align: center;
	color: #000;
	padding: 8px 10px;
	margin-bottom: 20px;
	font-size: 1.4em;
	border-radius: 60px;
	background: rgba(224,187,132,1);
	border-bottom: 2px solid #a78657;
	background: -moz-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,187,132,1)), color-stop(0%, rgba(193,158,103,1)), color-stop(51%, rgba(233,212,179,1)), color-stop(100%, rgba(224,187,132,1)));
	background: -webkit-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -o-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: linear-gradient(to right, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0bb84', endColorstr='#e0bb84', GradientType=1 );
}
/*paymant page*/
.btn_payment {
	text-align: center;
	color: #000;
	padding: 10px 10px;
	margin-bottom: 10px;
	font-size: 1.4em;
	border-radius: 60px;
	background: rgba(224,187,132,1);
	border-bottom: 2px solid #a78657;
	background: -moz-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,187,132,1)), color-stop(0%, rgba(193,158,103,1)), color-stop(51%, rgba(233,212,179,1)), color-stop(100%, rgba(224,187,132,1)));
	background: -webkit-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -o-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: linear-gradient(to right, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0bb84', endColorstr='#e0bb84', GradientType=1 );
}
.btn_confirm {
	text-align: center;
	color: #000;
	padding: 8px 10px;
	margin-bottom: 20px;
	line-height: initial;
	font-size: 1.4em;
	border-radius: 60px;
	background: rgba(224,187,132,1);
	border-bottom: 2px solid #a78657;
	background: -moz-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,187,132,1)), color-stop(0%, rgba(193,158,103,1)), color-stop(51%, rgba(233,212,179,1)), color-stop(100%, rgba(224,187,132,1)));
	background: -webkit-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -o-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: -ms-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	background: linear-gradient(to right, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0bb84', endColorstr='#e0bb84', GradientType=1 );
}
.content_payment{ 
	line-height: 18px;
	margin-top: 20px;
}
.col_consultation{
	margin-top: 2px;
	padding: 0px;

}
.col_consultation img{
	width: 50px;
}
.text_consultation{
	font-size:1.4em;
	color: #006441;
}
.number_hn{
	font-size:1.4em;
	color: #6a6a6a;
}
.text_total_payment {
	font-size:1.2em;
	color: #6a6a6a;
	margin-top: 5px;
}
.text_total_payment_num {
	font-size:1.4em;
	color: #6a6a6a;
	margin-top: 5px;
}
.text_subconsultation{
	font-size:1.2em;
	color: #6a6a6a;
	line-height: 18px;
}
.fa-calendar-alt, .fa-user-circle {
	margin-right: 8px;
	font-size: 0.7em;
}
.input_code{
	padding: 7px 12px;
	width: 100%;
	border: 1px solid #ddd;
	border-radius: 50px;
	background: #f7f7f7;
	font-size: 1.3em;
	color: #006441;
	text-transform: uppercase;
	outline: none;
}
.col_inputcode {
	margin: 0px 0px 5px;
	padding: 0px;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.text_subconsultation_remind{
	font-size:1.1em;
	color: #d26776;
	line-height: 16px;
}
.col_select_payment{
	border: 2px solid #f1f1f1;
	text-align: center;
	padding: 15px 0px 10px;
	margin: 0px 6px 10px 6px;
	border-radius: 15px;
	background: #fff;
}
.col_select_payment:active {
	border: 2px solid #27954c;
	box-shadow: 0 0 12px rgba(0,0,0,.3);
}
/*.col_select_payment:hover {
	border: 2px solid #27954c;
	box-shadow: 0 0 12px rgba(0,0,0,.3);
	}*/
	.pay_active {
		border: 2px solid #27954c;
		box-shadow: 0 0 12px rgba(0,0,0,.3);
	}
	.select_payment {
		margin: 20px 0px 0px;
		color: #6a6a6a;
	}
	.col_select_payment img{
		width: 40px;
	}
	.type_card{
		width: 40px;
		margin: 5px 0px 15px;
	}
	.number_display_card{
		border: 1px solid #ddd;
		padding: 9px 12px;
		margin-bottom: 15px;
		border-radius: 30px;
		color: #6a6a6a;
		font-size: 1.3em
	}
	.text_add_card_payment{
		font-size: 1.4em;
		margin-top: 3px;
		float: left;
		margin-left: 6px;
		color: #6a6a6a;
	}
	.img_addcard_payment{
		float: left;
		width: 25px;
	}
	.col_addcard_payment{
		margin-bottom: 20px;
		border-bottom: 1px solid #ddd;
		padding-bottom: 10px;
	}
	/*addcard page*/
	.text_add_card{
		font-size: 1.4em;
		color: #6a6a6a;
	}
	.input_code_addcard {
		padding: 7px 12px;
		width: 100%;
		border: 1px solid #ddd;
		border-radius: 50px;
		font-size: 1.3em;
		color: #006441;
		text-transform: uppercase;
		outline: none;
		margin: 5px 0px 10px;
	}
	/*review page*/
	.title_review {
		font-size: 1.4em;
		color: #006441;
		margin: 0px 0px 6px;
		font-weight: normal;
	}
	.sub_textreview{
		font-size: 1.2em;
		line-height: 18px;
	}
	.review_payment{
		padding: 12px;
		border-radius: 4px;
		background: #fff;
		margin-bottom: 15px;
		box-shadow: 0px 0px 6px 0 #c7c7c7;
	}
	textarea.form-control.review_block {
		background: #f4f4f4;
		box-shadow: none;
		border: 1px solid #ececec;
		font-size: 1.2em;
	}
	.rate_point_review img{
		width: 18%;
	}
	.rate_point_review  {
		margin: 10px 0px;
		padding: 0px 15px;
	}
	.btn_success_review {
		margin-top: 30px;
		margin-left: 5px; 
		text-align: center;
		color: #000;
		padding: 8px 10px;
		margin-bottom: 20px;
		font-size: 1.4em;
		border-radius: 60px;
		background: rgba(224,187,132,1);
		border-bottom: 2px solid #a78657;
		background: -moz-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,187,132,1)), color-stop(0%, rgba(193,158,103,1)), color-stop(51%, rgba(233,212,179,1)), color-stop(100%, rgba(224,187,132,1)));
		background: -webkit-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
		background: -o-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
		background: -ms-linear-gradient(left, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
		background: linear-gradient(to right, rgba(224,187,132,1) 0%, rgba(193,158,103,1) 0%, rgba(233,212,179,1) 51%, rgba(224,187,132,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0bb84', endColorstr='#e0bb84', GradientType=1 );
	}
	.btn_pass_review {
		margin-top: 30px;
		margin-right: 5px; 
		text-align: center;
		color: #000;
		padding: 8px 10px;
		margin-bottom: 20px;
		font-size: 1.4em;
		border-radius: 60px;
		border-bottom: 2px solid #a2a2a2;
		background: rgba(224,224,224,1);
		background: -moz-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
		background: -webkit-gradient(left top, right top, color-stop(0%, rgba(224,224,224,1)), color-stop(51%, rgba(237,237,237,1)), color-stop(100%, rgba(224,224,224,1)));
		background: -webkit-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
		background: -o-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
		background: -ms-linear-gradient(left, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
		background: linear-gradient(to right, rgba(224,224,224,1) 0%, rgba(237,237,237,1) 51%, rgba(224,224,224,1) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#e0e0e0', GradientType=1 );
	}
	/*payment sumtotal page*/
	.col_sum_top{
		padding : 0px 0px 20px;
		border-bottom: 1px solid #ddd;
	}
	.col_sum_middle{
		padding : 0px 0px 10px;
		margin-top: 10px;
		border-bottom: 1px solid #ddd;
	}
	.text_sumtotal_payment {
		color: #c5c5c5;
		font-size: 1.3em;
		padding-bottom: 2px;
	}
	.num_sumtotal_payment{
		font-size: 2.0em;
		color: #6a6a6a;
	}
	.col_sub_summiddle {
		padding: 0px 5px 0px 0px;
	}
	.text_sub_middle_payment{
		color: #c5c5c5;
		font-size: 1.1em;
	}
	.num_sub_middle_payment{
		font-size: 1.4em;
		font-weight : 700;
		color: #494949;
	}
	/*summary page*/
	.block_top_summary{
		padding: 15px 0px;
		line-height: 20px;
		background: #fff;
		box-shadow: 0px 0px 6px 0 #c7c7c7;
	}
	.text_top_summary {
		font-size: 1.2em;
		color: #006441;
	}
	.num_top_summary{
		font-size: 1.8em;
		color: #494949;
	}
	.content_sub_summary{
		padding : 0px 0px 10px;
		border-bottom: 1px dashed #d6d6d6;
		margin: 0px 0px 10px;
	}
	.text_head_summary{
		color: #b89a6e;
		font-size: 1.4em;
	}
	.checkmark {
		position: absolute;
		top: -2px;
		left: 5px;
		height: 20px;
		width: 20px;
		background-color: #fff;
		border-radius: 4px;
		border: 1px solid #ddd;
	}
	.list-check {
		display: inline-block;
		position: relative;
		cursor: pointer;
		font-size: 1.0em;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		padding: 0px 10px 0px 36px;
		margin: 5px 0px;
		border-radius: 2px;
		font-weight: normal;
		letter-spacing: 0px;
		line-height: 20px;
		width: 100%;
	}
	input[type=checkbox], input[type=radio] {
		display: none;
	}
	.list-check input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
	}
	label.list-check input:checked ~ .checkmark {
		border-radius: 2px;
		border: none;
		background: #03964c;
	}
	.list-check .checkmark:after {
		left: 4px;
		top: 0px;
		width: 7px;
		height: 12px;
		border: solid #85d942;
		border-width: 0 3px 3px 0;
		-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
		transform: rotate(45deg);
	}
	.checkmark:after {
		content: "";
		position: absolute;
		display: none;
	}
	/*register page*/
	.input_register {
		padding: 7px 12px;
		width: 100%;
		border: 1px solid #ddd;
		border-radius: 50px;
		font-size: 1.3em;
		text-transform: uppercase;
		outline: none;
		margin: 8px 0px 10px;
	}
	.input_register:focus {
		border-color: #d2b486;
		outline: 0;
		-webkit-box-shadow: none;
		box-shadow: 0px 0px 2px 0 rgb(241, 233, 210);
	}
	.head_register{
		color: #494949;
		font-size: 1.4em;
		text-align: center;
		margin: 20px 0px 20px;
	}
	/*.styled-select {
	background: url(../images/down_icon.png) no-repeat 86% 6px;
	}*/
	.styled-select select {
		background: transparent; 

	}
	.date_regis select   { 
		padding: 7px 12px 10px;
		width: 100%;
		border: 1px solid #ddd;
		border-radius: 50px;
		font-size: 1.3em;
		text-transform: uppercase;
		outline: none;
		margin: 8px 0px 10px;
	}
	.copy_right{
		left: 0;
		bottom: 0;
		width: 100%;
		color: #cecece;
		text-align: center
	}
	/*verify page*/
	.title_verify{
		font-size: 1.8em;
		line-height: 30px;
	}
	.input_verify{
		border: none;
		padding: 5px 12px;
		border-bottom: 1px solid #ddd;
		background: transparent;
		outline : none;
		font-size: 1.4em;
		text-transform: uppercase;
	}
	.input_verify_confirm{
		border: none;
		padding: 5px 12px;
		border-bottom: 1px solid #ddd;
		background: transparent;
		outline : none;
		font-size: 1.4em;
		text-transform: uppercase;
		text-align: center;
	}
	.left_number{
		padding: 8px 5px;
		border-bottom: 1px solid #ddd;
		margin-right: 10px;
		font-size: 1.4em;
	}
	.input_verify::-webkit-input-placeholder { color:#dadada; }  /* WebKit, Blink, Edge */
	.input_verify:-moz-placeholder { color:#dadada; }  /* Mozilla Firefox 4 to 18 */
	.input_verify::-moz-placeholder { color:#dadada; }  /* Mozilla Firefox 19+ */
	.input_verify:-ms-input-placeholder { color:#dadada; }  /* Internet Explorer 10-11 */
	.input_verify::-ms-input-placeholder { color:#dadada; }  /* Microsoft Edge */

	.input_verify_confirm::-webkit-input-placeholder { color:#dadada; }  /* WebKit, Blink, Edge */
	.input_verify_confirm:-moz-placeholder { color:#dadada; }  /* Mozilla Firefox 4 to 18 */
	.input_verify_confirm::-moz-placeholder { color:#dadada; }  /* Mozilla Firefox 19+ */
	.input_verify_confirm:-ms-input-placeholder { color:#dadada; }  /* Internet Explorer 10-11 */
	.input_verify_confirm::-ms-input-placeholder { color:#dadada; }  /* Microsoft Edge */

	@media (min-width:1024px){ 
		.btn_login {
			margin-top: 20%;
		}
		.logo_samitivej img {
			width: 20%;
		}
		.img_wait_loading {
			position: absolute;
			width: 55%;
			top: -13px;
			/*left: 180px !important;*/
			opacity: .60;
		}
		.rate_point_review img {
			width: 5%;
		}
	}

	@media (min-width:768px){ 
		.btn_login {
			margin-top: 20%;
		}
		.logo_samitivej img {
			width: 20%;
		}
		.img_wait_loading {
			position: absolute;
			width: 55%;
			top: -22px;
			left: 130px;
			opacity: .60;
		}
		.rate_point_review img {
			width: 5%;
		}
		img.img_info {
			width: 80% !important;
			margin: 35% 0px 0px 10px;
		}
	}
	@media (max-width:465px) and (min-width:320px) {
		.footer {
			position: fixed;
			left: 0;
			bottom: 0;
			width: 100%;
			color: #cecece;
			text-align: center;
		}
		img.img_info {
			width: 100%;
			margin : 32px 0px 0px 10px;
		}
		.logo_pincode img{
			width: 150px;
			margin: 0px 0px 15px;
		}
		.img_nurse {
			width: 50%;
		}
		.logo_samitivej_success img {

			width: 120px;
			margin-bottom: 6%;
		}
		.img_wait_loading {
			position: absolute;
			width: 100%;
			top: -15px;
			left: -1px;
			opacity: .60;
		}
	}

/*patient_file*/
.bg_information{
	background: url(../images/bg_information.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: 100% 100% !important;
	height: 100%;
}

.border-inner-box {
    border: 3px solid #9FCEB2;
    border-radius: 5px;
    height: 35vh;
    padding: 0px 10px;
}

.after-box {
  clear: left;
}

.border_line{
	border-right: 1px solid #9e9e9e;
}

.border_detail{
	/*padding-left: 20px;*/
	/* border-right: 3px solid #9FCEB2;
	border-bottom: 3px solid #9FCEB2; */
}

.doc_content{
	margin-top: 20px;
}

.block{
	border-radius: 5px;
	border: 3px solid #9FCEB2;
	margin-left: 10px;
	position: fixed;
	width: 92%;
	height: 15%;
}
h1.title_header {
	margin-top: 0px;
	margin-bottom: 0px;
}

.square{
	background-color:#006540; 
	color: #fff; 
	font-size: 16px; 
	border:1px; 
	border-radius: 6px;
	box-shadow: 2px 2px 5px black;
	padding: 3px;
}




